body{font-family: 'Poppins', sans-serif;
    margin: 0%;

}
.sky-blue-color{color:orangered;
}
h1{font-size: 50px;
  
}
h2{font-size: 40px;}
.half-width{width: 50%;
    padding: 5%;
}
.half-width img{
width: 100%;

}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    font-weight: 700px;
    padding: 10px 40px ;
    border-radius: 5%;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
 
}
.top-banner{background-image: url(images/top-banner.png);
       background-repeat: no-repeat;
    }
    .side-banner{background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        box-shadow:10px 10px 40px gray;
        border-radius: 10px;
    }
    #web-dev-experience{
        border-left: 7px solid;
        border-image: linear-gradient(red ,blue);
        border-image-slice: 1;
    }
    #full-stack-experience{
        border-left: 7px solid;
        border-image: linear-gradient(rgb(76, 1, 95) ,rgb(209, 2, 116));
        border-image-slice: 1;
    }
footer p{
    text-align: center;
}
.margin{
    margin-left: 15px;
}